@use './variables' as var;

.top-search {
	background-color: var.$color-dark-gray;
	background-image: url('../assets/images/pattern-bg-desktop.png');
	background-size: cover;
	padding: 20px;

	& .title {
		text-align: center;
		color: var.$color-white;
		font-weight: 500;
		font-size: 30px;
	}
	& .search-container {
		margin: 30px auto;
		width: 90vw;
		
		$height: 50px;
		$border-radius: 10px;
		
		@media screen and (min-width: var.$breakpoint-s) {
			width: 70vw;
		}
		@media screen and (min-width: var.$breakpoint-m) {
			width: 50vw;
		}

		& .search-input {
			width: 90%;
			height: $height;
			line-height: $height;
			float: left;
			margin: 0;
			padding: 3px 10px 3px 20px;
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
			border: none;
			font-size: 13px;
			color: var.$color-black;

			@media screen and (min-width: var.$breakpoint-s) {
				font-size: 18px;
			}

			&:focus {
				outline: none;
			}

			&::placeholder {
				color: var.$color-gray;
			}
		}

		& .search-btn {
			cursor: pointer;
			background: no-repeat center var.$color-black url('../assets/images/icon-arrow.svg');
			height: $height;
			line-height: $height;
			margin: 0;
			padding: 3px;
			width: 10%;
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			border: 0 var.$color-gray solid;

			&:hover {
				background: no-repeat center var.$color-dark-gray url('../assets/images/icon-arrow.svg');
			}
			&:active {
				background: no-repeat center var.$color-dark-gray url('../assets/images/icon-arrow.svg');
				border: 1px var.$color-gray solid;
			}
		}

		& .error-msg {
			font-size: 14px;
			color: var.$color-red;
			text-shadow: 0.5px 0.5px 1px var.$color-dark-gray;
		}
	}
}