@use './styles/variables' as var;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}

.App {
	position: relative;
	height: 100vh;

	& .app-container {
		height: 100vh;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 40% 60%;
		position: relative;
		z-index: 1;
	}
	& .display-container {
		width: 65%;
		position: fixed;
		z-index: 2;
		transform: translate(-50%, -50%);
		top: 45%;
		left: 50%;

		@media screen and (min-width: var.$breakpoint-m) {
			top: 40%;
		}
	}
}